# --- Database Layer (MySQL) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:5.7
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "password"
        - name: MYSQL_DATABASE
          value: "webapp"
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service # This name matches the 'host' in your Node.js code!
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
---

# --- Backend Layer (Node API) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        # CHANGE THIS to your ACR name
        image: projectk8s.azurecr.io/backend:v13
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: "mysql-service"
        - name: DB_USER
          value: "root"
        - name: DB_PASSWORD
          value: "password"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer # This gives us a Public IP for the API
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---

# --- Frontend Layer (React) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # CHANGE THIS to your ACR name
        image: projectk8s.azurecr.io/frontend:v7
        ports:
        - containerPort: 3000
        env:
        # We will update this manually after getting the Backend IP
        - name: REACT_APP_API_URL
          value: "http://52.230.53.58/api"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: LoadBalancer # This gives us a Public IP for the Site
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000